<% content_for :content do %>

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">

          <p id="notice"><%= notice %></p>

          <%= @message.subject %> <small> Message </small>
        </h2>

      </div>

    </div>


    <div id="info_m_h" class="well well-sm">

      <%= link_to(image_tag(@s.avatar.url(:thumb)), user_path(@s)) %>

      <div id="info_m">

          <p id="m_date" class="small text-muted"><i class="fa fa-clock-o"></i> <%= @message.created_at %></p>

          <p class="small"> by <%= @s.name %> </p>

      </div>


    </div>

    <div class="well well-sm">

        <%= simple_format(@message.message) %>

    </div>

         <% @at = @message.file_attaches %>

         <strong><%= @at.size %> Attachments</strong> <br>

         <% @at.each { |a| %>
         <% if a.file_content_type.split("/")[1] == "pdf" %>
            <i class="fa fa-file-pdf-o"></i>
        <% else %>
            <% if a.file_content_type.split("/")[0] == "image" %>
                <i class="fa fa-file-image-o"></i>
            <% else %>
                <% if a.file_content_type.split("/")[0] == "audio" %>
                    <i class="fa fa-file-audio-o"></i>
                <% else %>
                    <% if a.file_content_type.split("/")[0] == "video" %>
                        <i class="fa fa-file-video-o"></i>
                    <% else%>
                        <% if a.file_content_type.split("/")[1] == "zip" %>
                            <i class="fa fa-file-archive-o"></i>
                        <% end %>
                     <% end %>
                <% end %>
            <% end %>

         <% end %>

         <%= link_to a.file_file_name, a.file.url %> <br>

         <% } %>

    <br>

    <%= button_to "Reply", new_message_path(:user_id => @message.sender_id, :r_msg_id => @message.id),
                  :class => "btn btn-success" %>

    <br>
    <br>

    <%= link_to 'Back to Inbox', messages_url %>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


<% end %>


