<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>ResearchGate</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'rsg_favicon.ico' %>
</head>
<div id="wrapper">

  <!-- Navigation -->
  <nav id="nv" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to(image_tag('rg_logo_indexpage.png', alt: 'ResearchGate', size: '120x15', class: 'center-block'),
                  home_show_path, class: 'img-responsive navbar-brand', target: '_self') %>
    </div>

    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
      <li class="dropdown">

        <% if @m.size == 0 %>
           <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
        <% else %>
           <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope new"></i> <b class="caret"></b></a>
        <% end %>

        <ul class="dropdown-menu message-dropdown">

          <% @m.each { |m| %>
              <% @s = User.find(m.sender_id) %>
              <li class="message-preview">
                <a href="<%= message_url(m)%>">
                  <div class="media">
                     <span class="pull-left">
                       <%= image_tag(@s.avatar.url(:thumb), class: 'img-responsive') %>
                     </span>
                    <div class="media-body">
                      <h5 class="media-heading"><strong><%= @s.name %></strong>
                      </h5>
                      <p class="small text-muted"><i class="fa fa-clock-o"></i> <%= m.created_at %></p>
                      <p><%= m.subject %></p>
                    </div>
                  </div>
                </a>
              </li>
          <% } %>

          <% if @m.size == 0 %>
              <li id="no_m">
               There aren't new messages.
              </li>
          <% else %>
              <li class="message-footer">
                <a href=<%= messages_url %> >View All Messages </a>
              </li>
          <% end %>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-user"></i>  <%= @c_user.name %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to user_path(@c_user) do %>
                <i class="fa fa-fw fa-user"></i>
                Profile
            <% end %>
          </li>
          <li>
            <%= link_to messages_path do %>
                <i class="fa fa-fw fa-envelope"></i>
                Inbox
            <% end %>
          </li>
          <li>
          <li>
            <%= link_to edit_user_path(@c_user, f: 'settings') do %>
                <i class="fa fa-fw fa-gear"></i>
                Settings
            <% end %>
          <li class="divider"></li>
          <li>
            <%= link_to logout_path do %>
                <i class="fa fa-fw fa-power-off"></i>
                Log out
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->

    <!-- /.navbar-collapse -->
  </nav>

  <div id="page-wrapper">

    <div class="container-fluid">


      <%= yield :content %>


    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

</body>
</html>



